.containerNav {
  padding: 2em 3em;
  display: flex;
  background-color: var(--qrencia-blue);
  margin-bottom: 0;
}

.leftLogo {
  display: flex;
  flex-direction: column;
}

.leftLogo p {
  margin-top: 0.5em;
  max-width: 25%;
  font-size: 1em;
  color: var(--qrencia-white);
  padding-left: 1em;
}

.leftLogo span {
  color: var(--qrencia-orange);
}

.qLogo {
  width: 15%;
}

.navLogo {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

@media (min-width: 300px) and (max-width: 500px) {

  .containerNav
  {
    padding: 2em 1em;
  }
  .leftLogo {
    align-items: center;
  }

  .qLogo {
    width: 35%;
  }

  .leftLogo p {
    margin-top: 0.3em;
    max-width: 70%;
    font-size: 1em;
    text-align: center;
  }

  .rightLogo {
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 786px) {
  .container {
    padding: 0.5em 1.5em;
  }
  .qLogo {
    width: 25%;
  }
  .leftLogo p {
    margin-top: 0.2em;
    max-width: 50%;
    font-size: 0.7em;
  }

  .rightLogo {
    display: flex;
    justify-content: center;
  }

  .navLogo {
    width: 140%;
  }
}

@media (min-width: 787px) and (max-width: 1459px)
{
  .container {
    padding: 1em 4em;
    padding-left: 0.5em;
  }

  .qLogo
  {
    width: 25%;
  }

  .leftLogo p 
  {
    margin-top: 0.5em;
    font-size: 1em;
    max-width: 50%;
  }

  .navLogo {
    width: 140%;
  }
}
