/* DisplayCards.css */
.headingCards
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  /* margin-bottom: -1em; */
}


.headingCards h3
{
  color: #1c3d66;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5em;
}

.headingCards p
{
  font-family: Poppins;
  font-weight: 400;
  font-size: 1em;
  margin-top: -0.5em;
  text-wrap: wrap;
  text-align: center;
}


.displayCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* Ensures 3 cards per row */
  gap: 1em;  /* Space between cards */
  justify-items: center;
  /* padding: 2em; */
  /* margin: 1.5em 0; */
  font-family: Poppins;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0.5em;
  margin: 0em auto;
  padding: 1em 2em 2em;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #1c3d66;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

.card-back {
  background-color: #bff7f6;
  color: #1c3d66 ;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.card-back p {
  font-size: 18px;
  text-align: center;
  padding: 0 10px 0 10px;
}

/* Responsive styles */
@media (max-width: 1440px) {
  .displayCards {
    grid-template-columns: repeat(3, 1fr);  /* 2 cards per row on medium screens */
  }

  .headingCards
  {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .displayCards {
    grid-template-columns: repeat(2, 1fr);  /* 2 cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .displayCards {
    grid-template-columns: repeat(2,1fr);  /* 1 card per row on smaller screens */
  }

  .card {
    width: 12em ;
    height: 7em;  /* Slightly smaller card height on tablets */
  }

  .card h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  
  .card-back p {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .displayCards {
    grid-template-columns: repeat(2,1fr);
    gap: 0.5em;  /* 1 card per row on very small screens */
  }

  .card {
    width: 9em;
    height: 5em;  /* Adjust height on mobile */
  }

  .card h1 {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }
  
  .card-back p {
    font-size: 10px;
    text-align: center;
  }
}
