.headingCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: -1em;
}

.headingCards h3 {
  color: var(--qrencia-blue);
  font-weight: 700;
  font-size: 1.5em;
}

.headingCards p {
  font-weight: 400;
  font-size: 1em;
  margin-top: -0.5em;
  text-wrap: wrap;
  text-align: center;
}

.displayCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-items: center;
  background-color: var(--qrencia-white);
  border: 1px solid var(--qrencia-white-border);
  border-radius: 0.5em;
  margin: 0em auto;
  padding: 1em 2em 2em;
}

.card {
  width: 300px;
  height: 200px;
  background-color: var(--qrencia-white-background);
  color: var(--qrencia-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s;
}

.cardImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-bottom: 1px solid var(--qrencia-black);
}

.card h1 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBack {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px var(--card-shadow-color);
  transform: scale(1);
  transition: all var(--transition-duration) ease-in-out;
  text-align: center;
  border: 2px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
}

.cardBack p {
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
}

.cardBack:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px var(--card-hover-shadow-color);
  background: linear-gradient(
    135deg,
    var(--card-hover-gradient-start),
    var(--card-hover-gradient-end)
  );
  cursor: pointer;
}

.cardBack:active {
  transform: scale(1);
  box-shadow: 0 6px 15px var(--card-shadow-color);
}

/* search */

.searchContainer {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.searchContainer input {
  background-color: var(--qrencia-formInput-bg);
  border: 1px solid var(--qrencia-formInput-border);
  border-radius: 0.3em;
  font-size: 0.9em;
  height: 3.9em;
  text-align: left;
  padding: 0.5% 2%;
  width: 85%;
  margin-right: 2em;
}

.searchContainer button {
  text-decoration: none;
  background-color: var(--qrencia-blue);
  color: var(--qrencia-white);
  padding: 0.5% 2%;
  text-align: center;
  border: 1px solid var(--qrencia-blue);
  border-radius: 3px;
  font-size: 0.9em;
  width: 15%;
}

@media (max-width: 1440px) {
  .displayCards {
    grid-template-columns: repeat(3, 1fr);
  }

  .headingCards {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .displayCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchContainer input {
    width: 70%;
    margin-right: 0.5em;
  }

  .searchContainer button {
    font-size: 0.8em;
    width: 30%;
    padding: 0% 1%;
  }
}

@media (max-width: 768px) {
  .displayCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 12em;
    height: 7em;
  }

  .card h1 {
    font-size: 0.7em;
    margin: 0;
    text-align: center;
  }

  .cardBack p {
    font-size: 0.6em;
    text-align: center;
  }

  .searchContainer input {
    width: 70%;
    margin-right: 0.5em;
  }

  .searchContainer button {
    font-size: 0.7em;
    width: 30%;
    padding: 0% 1%;
  }
}

@media (max-width: 576px) {
  .headingCards h3 {
    font-size: 1.1em;
  }

  .headingCards p {
    font-size: 0.7em;
  }

  .displayCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  .card {
    width: 9em;
    height: 7em;
  }

  .card h1 {
    font-size: 0.6em;
    margin: 0;
    text-align: center;
  }

  .cardBack p {
    font-size: 0.5em;
    text-align: center;
  }

  .searchContainer input {
    width: 70%;
    margin-right: 0.5em;
    height: 2.5em;
    font-size: 0.8em;
    
  }

  .searchContainer button {
    font-size: 0.7em;
    width: 30%;
    height: 2.8em;
    padding: 0% 1%;
  }
}
