.formHeading
{
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
}


.formHeading h3
{
  color: #1c3d66;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}


form
{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0.5em;
  margin: 0.2em 0 1em 0;
  padding: 1em 2em 2em;
  justify-content: space-evenly !important;
}

form p
{
  color: #363739;
  font-size: 0.9em;
  font-weight: 500 !important;
  margin-bottom: 1em;
}

.formSection
{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}


.formStyling {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #f4f9fe);
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 0;
  padding: 0 0.3em;
  position: relative;
  top: 0.85em;
  left: 0.2em;
  z-index: 1;
  /* margin-bottom: 0.7em; */
}

.formStyling span
{
  color: #ff0000;
}

form input 
{
  background-color: #f4f9fe;
  border: 1px solid #cbdef7;
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3em;
  /* margin-top: -18px; */
  text-align: left;
  padding: 7px 6px;
  width: 100%;
}

.formInput input
{
  background-color: #f4f9fe;
  border: 1px solid #cbdef7;
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3em;
  /* margin-top: -18px; */
  text-align: left;
  padding: 7px 6px;
  width: 100%;
}


.form-control
{
  background-color: #f4f9fe;
  border: 1px solid #cbdef7;
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3em;
  /* margin-top: -18px; */
  text-align: left;
  padding: 7px 6px;
  width: 100%;
}

.selected-skills
{
  display: flex;
  gap: 0.5em;
}

.selected-skills p
{
  font-size: 0.8em;
  text-wrap: nowrap;
}
.selectedSkill
{
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}



.selectedSkill li
{
  list-style: none;
  font-size: 0.8em;
}

#subBtn {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

#subBtn button {
  text-decoration: none;
  background-color: #224b7f;
  color: #fff;
  padding: 0.5% 2%;
  text-align: center;
  border: 1px solid #224b7f;
  border-radius: 3px;
  font-size: 0.9em;
  font-family: Poppins, sans-serif !important;
}

.error
{
  color: #ff0000 !important;
  font-size: 0.75em !important;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
