.formHeading {
  display: flex;
  align-items: flex-start;
  margin-top: 2em;
}

.formHeading h3 {
  color: var(--qrencia-blue);
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--qrencia-white);
  border: 1px solid var(--qrencia-white-border);
  border-radius: 0.5em;
  margin: 0.2em 0 1em 0;
  padding: 1em 2em 2em;
  justify-content: space-evenly !important;
}

form p {
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-bottom: 0.4em;
}

.formSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.formStyling {
  background-color: var(--qrencia-white);
  background-image: linear-gradient(to bottom, #ffffff, #f4f9fe);
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 0;
  padding: 0 0.3em;
  position: relative;
  top: 0.85em;
  left: 0.2em;
  z-index: 1;
}

.formStyling span {
  color: var(--qrencia-red);
}

form input {
  background-color: var(--qrencia-formInput-bg);
  border: 1px solid var(--qrencia-formInput-border);
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3em;
  text-align: left;
  padding: 7px 6px;
  width: 100%;
}

.form-control {
  background-color: var(--qrencia-formInput-bg);
  border: 1px solid var(--qrencia-formInput-border);
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3em;
  text-align: left;
  padding: 7px 6px;
  width: 100%;
}


.selected-skills {
  display: flex;
  gap: 0.5em;
}

.selected-skills p {
  font-size: 0.8em;
  text-wrap: nowrap;
}
.selectedSkill {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.selectedSkill li {
  list-style: none;
  font-size: 0.8em;
}

#subBtn {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

#subBtn button {
  text-decoration: none;
  background-color: var(--qrencia-blue);
  color: var(--qrencia-white);
  padding: 0.5% 2%;
  text-align: center;
  border: 1px solid var(--qrencia-blue);
  border-radius: 3px;
  font-size: 0.9em;
}

.error {
  color: var(--qrencia-red) !important;
  font-size: 0.75em !important;
  font-weight: 400;
}

@media (max-width:576px)
{

  .formHeading
  {
    justify-content: center;
  }

  .formHeading h3
  {
    font-size: 1.1em;
    margin-top: 0.5em;
  }

  .btn
  {
    padding: 0.5em 1em !important;
    margin-top: 1em;
    font-weight: 600;
  }

  form p
  {
    font-size: 0.8em;
    font-weight: 700 !important;
  }
}

@media (max-width:1440px)
{
  .formHeading
  {
    justify-content: center;
  }
}